
<div class="p-4">
    <div class="container">
        <h1>Home Page </h1>
        <h3>{{user.firstName}}</h3>
        <a routerLink="/szkolenia" class="btn btn-success mb-2 btn-lg">Dodaj szkolenie </a>
        <a routerLink="/lista" class="btn btn-success mb-2 ml-4 btn-lg">Subscrybuj szkolenia</a>
        <a routerLink="/myszkolenia" class="btn btn-success mb-2 ml-4 btn-lg">Moje szkolenia</a>
        <p><a routerLink="/users">Manage Users</a></p>
        <router-outlet></router-outlet>

    </div>
</div>
